<div class="row">
    <h2 class="center">Login</h2>
</div>
<div class="row">
    <div class="col m6 s12">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s6">
                  <label for="email">Email</label>
                  <input ng-model="formData.email" id="email" type="text" >
                </div>
                <div class="input-field col s6">
                  <label for="password">Password</label>
                  <input ng-model="formData.password" id="password" type="password" >
                </div>
            </div>

            <button class="btn" ng-click="login()">Login</button>
        </div>
    </div>
</div>