<div class="row">
    <h3 class="teal-text center">Create product</h3>
</div>
<div class="row">
    <div class="col m6 s12">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s6">
                    <label for="name">Name</label>
                    <input value="{{product.name}}" ng-model="product.name" id="name" type="text" >
                </div>
		<div class="input-field col s6">
                    <label for="price">Price</label>
                    <input value="{{product.price}}" ng-model="product.price" id="price" type="text" >
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="available">Available</label>
                    <input value="{{product.available}}" ng-model="product.available" id="available" type="checkbox" >
                </div>
                <div class="input-field col s6">
                    <label for="description">Description</label>
                    <input value="{{product.description}}" ng-model="product.description" id="description" type="text" >
                </div>
            </div>
            <button ng-if="!product.id" class="btn" ng-click="create()">Create</button>
            <button ng-if="product.id" class="btn" ng-click="update()">Update</button>
        </div>
    </div>
 
</div>