<div class="row">
    <h3 class="teal-text center">Product list</h3>
</div>
<div class="row">
            <a href="#/product-create">Create product</a>
    <div class="col m6 s12">
        <div class="card-panel">
            <table>
		<tr>
			<td>Name</td>
			<td>Price</td>
			<td>Available</td>
		</tr>
                <tr ng-repeat="product in products">
		<td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.available}}</td>
                <td>
			<a href="#/product-show/{{product.id}}">Show</a>
			<a href="#/product-update/{{product.id}}">Update</a>
			<a href="" class="collection-item" ng-click="delete(product.id)">Delete</a>
		</td>
		</tr>
            </table>
        </div>
    </div>
</div>