<div class="row">
    <h3 class="teal-text center">Product detail</h3>
</div>
<div class="row">
    <div class="col m6 s12">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s6">
                    <label>Name</label>
                    <label>{{product.name}}</label>
                </div>
                <div class="input-field col s6">
                    <label>Price</label>
                    <label>{{product.price}}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label>Available</label>
                    <label>{{product.available}}</label>
                </div>
                <div class="input-field col s6">
                    <label>Description</label>
                    <label>{{product.description}}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label>Created at</label>
                    <label>{{product.createdAt}}</label>
                </div>
            </div>
            <a href="#/product-list">Back</a>
        </div>
    </div>
</div>